.iconInstagram {
  width: 35px !important;
  height: 35px;
  padding: 10px;
  margin-right: 12px;
  color: #fff;
  background: linear-gradient(#ef2ea2, #e0a22b);
  border: 1px solid #ef2ea2;
  border-radius: 50%;
}

.containerInstagram {
  max-width: 368px;
  margin: 40px auto;
}

.containerInstagram img {
  margin: 0px auto 10px auto;
  max-width: 100%;
  display: block;
}

.containerIcon {
  padding: 15px 0px 30px 15px;
  display: flex;
  align-items: center;
}

.containerIconsInteraction {
  color: #4f4f4f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
}

.heartIcon {
  margin-right: 13px;
}

.containerInstagram p {
  padding: 0px 15px 20px 15px;
}
