* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}

li {
  list-style-type: none;
}

/* grid */
.containerFlex {
  max-width: 1440px;
  margin: 20px auto;
}

.container::after,
.container::before {
  content: '';
  display: table;
  clear: both;
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  /*vai ter no minimo 160px, expandir tudo bem, diminuir menos que isso, não*/
  /*300 px é a coluna do anuncio, unica que vai expandir/diminuir sempre é a do meio, conteudo*/
  /*3fr é para o conteudo expandir 3x mais que o sidnev*/
  grid-template-areas:
    'header header header'
    'redes data post'
    'texto texto post'
    'upload upload post'
    'footer footer footer';
}

.bg {
  background-color: #f8f8f8;
  /* height: 100vh; */
}

.mt {
  margin-top: 50px;
}

.mb {
  margin-bottom: 50px;
}

.mr {
  margin-right: 40px;
}

.ml {
  margin-left: 40px;
}
